.history {
  background-image: url("../../../assets/img/history__background.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: #fff;
      font-size: 35px;
      line-height: 54px;
      max-width: 782px;
    }

    p {
      padding: 0px 10px !important;
    }
  }

  @media (max-width: 660px) {
    height: 40vh;
  }
}
