@import "libs/normalize";

@import "components/header";
@import "components/footer";
@import "components/notFoundPage";
@import "components/fullProduct";

@import "components/Cart/cart";
@import "components/Cart/cartProductCard";

@import "components/Home/product-intro";
@import "components/Home/products";
@import "components/Home/history";
@import "components/Home/mission";
@import "components/Home/presentation-block";
@import "components/Home/contact";

.container {
  max-width: 1160px;
  margin: 0 auto;

  &--header {
    max-width: 1240px;

    @media (max-width: 1260px) {
      margin: 0 20px;
    }
  }

  &--lg {
    max-width: 1290px;
  }

  &--cart-empty {
    padding: 64px 0;
  }

  @media (max-width: 1180px) {
    margin: 0 20px;
  }

  @media (max-width: 780px) {
    margin: 0 10px;
  }
}

.link-btn {
  width: fit-content;

  div {
    width: fit-content;
  }

  p {
    width: fit-content;
    border-bottom: 1px solid #1a1a1a;
    padding-right: 20px;
  }

  &--white {
    p {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
    span {
      color: #fff;
    }
  }

  &--small {
    font-size: 14px;
  }
  &--medium {
    font-size: 15px;
  }
  &--large {
    font-size: 16px;
  }
}

.btn {
  color: #f7f7f7;
  background-color: #1a1a1a;
  cursor: pointer;
  font-size: 20px;
  line-height: 56px;
  border: 1px solid #1a1a1a;
  padding: 0 64px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--circle {
    border: 1px solid #1a1a1a;
    background-color: #292929;
    border-radius: 20px;
    padding: 0 28.5px;

    &-light-blue {
      border: none;
      border-radius: 20px;
      background-color: #7bbbbf;
      max-width: 109px;
      width: 100%;
      padding: 0;
    }
  }

  &--circle-long {
    max-width: 192px;
    width: 100%;
    border: 1px solid #1a1a1a;
    background-color: #292929;
    border-radius: 20px;
    padding: 0;
  }
}

.to-prev-page {
  padding: 20px 0;
  display: flex;
  align-items: center;
  max-width: fit-content;
  cursor: pointer;

  span {
    font-size: 20px;
    line-height: 18px;
    margin-left: 15px;
  }
}

.choose-elements-list {
  display: flex;
}

.choose-element {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #808080;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  @media screen and (max-width: 370px) {
    margin-right: 10px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &--active {
    border: 1px solid #000;
    box-shadow: 0 0 20px 2px#808080;

    .circle {
      color: #000 !important;
      border: 1px solid #000 !important;
    }
  }

  &--disabled {
    cursor: not-allowed;
    box-shadow: 50px 0px 0px 0px #0000001a inset;
  }

  &--cart {
    border: 1px solid #000;
    margin: 0;

    .circle {
      color: #000 !important;
      border: 1px solid #000 !important;
    }
  }

  .circle {
    width: 30px;
    height: 30px;
    color: #808080;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #808080;

    &--filled {
      border: none !important;
    }
  }
}
